

.dialog button {
  width: 130px;
  height: 60px;
  font-size: large;
  margin: 20px;
}

.dialog{
  width: 35vw;
  min-width: 350px;
  margin: 0;
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 25px 20px;
  display: flex;
  justify-content: center;
}

