<div style="color: white;">
  <table>
    <tr>
      <th>Name</th>
      <th>Vote</th>
    </tr>
    <tr *ngFor="let user of session.users">
      <td>{{user.nickName}}</td>
      <td>{{user.voteValue !== null ? user.voteValue : '?'}}</td>
    </tr>
  </table>
</div>
<div>
  <button (click)="showVotes()">Show votes</button>
  <button>Clear votes</button>
  <button *ngFor="let val of voteOptions" (click)="vote(val)">{{val !== null ? val : '?'}}</button>
</div>
<div *ngIf="session.average" style="color: white;">
  Average: {{session.average}}
</div>
