@import '../shared-styles/shared.less';



.users{
  color: white;
  width: 100%;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}

app-user-element{
  display: flex;
  width: 50%;
  justify-content: flex-end;
  &:nth-child(even){
    justify-content: flex-start;
  }
  padding: 0 20px;
}

.session-id{
  color: #ddcaff;
  width: 100%;
  text-align: center;

  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}

.session-id-text {
  margin-right: 5px;
}

.clipboard-icon-container {
  display: flex;
  align-items: center;
}

.clipboard-icon{
  cursor: pointer;
  height: 18px;
  width: 18px;
  outline: none;

  &:active {
    transform: scale(1.2);
  }
}


.buttons {
  margin-top: 20px;
 width: 80%;
 display: flex;
 justify-content: center;
 flex-wrap: wrap;

 button {
   margin:5px;
 }
}

.stats {
  display: flex;
  color: white;
  width: calc(50% - 40px);
  align-items: center;
  justify-content: center;
  margin: 20px;
  .responsive(1000px, {
    padding-left: 0px;
  });

  .responsiveHeight(700px,{
    margin: 0px;
  });
}

.content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 50px;
  width: 50vw;
  margin: 0 auto;

  .responsive(550px, {
    width: 100vw;
  });
}


