<div class="content">
  <div class="session-id">
    <span class="session-id-text">Session ID: {{session.sessionId}}</span>
    <div class="clipboard-icon-container" title="Copy link to invite others to session.">
      <img src="assets/clipboard.svg" class="clipboard-icon" [cdkCopyToClipboard]="this.sessionLink" />
    </div>
  </div>
  <div class="buttons">
    <button mat-mini-fab color="primary" *ngFor="let val of voteOptions" (click)="vote(val)">{{val !== null ? val : '?'}}</button>
  </div>
  <div class="users">
    <app-user-element *ngFor="let user of session.users" [isMe]="this.session.user === user.nickName" [showVotes]="this.session.average !== null" [user]=user></app-user-element>
  </div>
  <!-- *ngIf="session.average"  -->
  <div class="stats">
    Average: {{session.average !== null ? session.average : '?'}}
  </div>
  <div class="buttons">
    <button mat-raised-button color="primary"  (click)="showVotes()">Show votes</button>
    <button mat-raised-button color="primary"  (click)="clearVotes()">Clear votes</button>
  </div>
</div>
