.home-button-container{
  display: flex;
  justify-content: center;

  mat-icon {
    margin-top: 20px;
    font-size: 50px;
    // color:#673ab7;
    cursor: pointer;
    transform: translateX(-50%);
  }
}
