@import '../shared-styles/shared.less';


.user{
  margin-top: 10px !important;
  min-width: 200px;
  font-size: 11pt;
  padding: 20px;
  justify-content: space-between;
  .responsive(1000px, {
    min-width:150px;
    width: auto;
  });

  .responsiveHeight(700px,{
    font-size: 8.5pt;
    padding: 0px;
    justify-content: space-around;
  });

  transition: transform 2s;
}

.voted{
  transform: scale(1.1,1.1);
  margin-top: 7px;
}

.low{
  color:#9393ff;
}

.mean{
  color: #42c742;
}

.high{
  color:#ff6565;
}

.out{
  color:black;
}
