@import '../shared-styles/shared.less';


.user{
  margin-top: 10px !important;
  border-color: #673ab7;
  border-style: solid;
  border-width: 2px;
  min-width: 200px;
  font-size: 11pt;
  padding: 20px;
  justify-content: space-between;
  .responsive(1000px, {
    min-width:150px;
    width: auto;
  });

  .responsiveHeight(700px,{
    font-size: 8.5pt;
    padding: 0px;
    justify-content: space-around;
  });
}

.low{
  border-color: blue;
}

.mean{
  border-color: green;
}

.high{
  border-color:red;
}

.out{
  border-color:black;
}
